.btn {
    position: relative;
    cursor: pointer;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
}

.btn.bare {
    font-weight: bold;
    letter-spacing: 1px;

    @each $name, $map in $colors {
        &.#{$name} {
            color: map-deep-get($colors, $name, 700);
            background: transparent;
            border-color: map-deep-get($colors, 'grey', 'default');
            border-width: 1px;
            border-style: solid;

            &::before {
                position: absolute;
                bottom: 0.5rem;
                left: 1rem;
                right: 1rem;
                height: 3px;
                content: ' ';
                background: map-deep-get($colors, $name, 500);
                
                @include transition;
            }

            &:hover {
                &::before {
                    background: map-deep-get($colors, $name, 700);
                }

            }

            @include transition;
        }
    }

    &::after {
        content: '>';
        margin-left: 0.25rem;
                        
        @include transition;
    }

    &:hover {
        &::after {
            margin-left: 0.5rem;
        }
    }


}

.btn.arrowed {
    letter-spacing: 3px;

    @each $name, $map in $colors {
        &.#{$name} {
            color: map-deep-get($colors, 'white', 'default');
            background: map-deep-get($colors, $name, 'default');

            &:not(.no-border) {
                border-color: map-deep-get($colors, $name, 600);
            }

            &:not(.no-animation):not(.no-border) {
                &:hover {
                    color: map-deep-get($colors, 'white', 'default');
                    border-right-color: map-deep-get($colors, $name, 700);

                }

                @include transition;
            }
        }
    }

    &:not(.no-border) {
        border-right-width: 45px;
        border-right-style: solid;
    }

    &:not(.no-uppercase) {
        text-transform: uppercase;
    }

    &.equalize {
        height: 60px;

        &.sm {
            height: 30px;
        }

        &.md {
            height: 45px;
        }
    }

    &::after {
        position: absolute;
        right: -33px;
        top: 53%;
        transform: translateY(-50%);
        content: $arrow;
        width: 23px;
        height: 23px;

        @include transition;
    }

    &:not(.no-animation) {
        &:hover {
            opacity: 1;
        }
    }


    @media screen and (max-width: 414px) {
        display: block;
        text-align: center;

        &.inline-block {
            display: block;
        }
    }
}

#submit-button {
    color: theme('colors.white.default');
    background: map-deep-get($colors, 'quaternary', 'default');
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    border-radius: 0;
    cursor: pointer;

    &:not(.no-border) {
        border-color: map-deep-get($colors, 'quaternary', 600);
    }

    &:not(.no-animation):not(.no-border) {
        &:hover {
            color: map-deep-get($colors, 'white', 'default');
            border-right-color: map-deep-get($colors, 'quaternary', 700);

        }

        @include transition;
    }

    @include transition;

    &:not(.no-border) {
        border-right-width: 45px;
        border-right-style: solid;
    }

    &::after {
        position: absolute;
        right: -33px;
        top: 53%;
        transform: translateY(-50%);
        content: $arrow;
        width: 23px;
        height: 23px;

        @include transition;
    }
}