$primary: (
    500: theme('colors.primary.default'),
    700: theme('colors.primary.700')
);
$secondary: (
    500: theme('colors.secondary.default'),
    700: theme('colors.secondary.700')
);
$tertiary: (
    500: theme('colors.tertiary.default'),
    700: theme('colors.tertiary.700')
);
$quaternary: (
    500: theme('colors.quaternary.default'),
    700: theme('colors.quaternary.700')
);

$colors: (
    "primary": (
        default: map-get($primary, 500),
        500: map-get($primary, 500),
        700: map-get($primary, 700)
    ),
    "secondary": (
        default: map-get($secondary, 500),
        500: map-get($secondary, 500),
        700: map-get($secondary, 700),
    ),
    "tertiary": (
        default: map-get($tertiary, 500),
        500: map-get($tertiary, 500),
        700: map-get($tertiary, 700),
    ),
    "quaternary": (
        default: map-get($quaternary, 500),
        500: map-get($quaternary, 500),
        700: map-get($quaternary, 700),
    ),
    "white": (
        default: theme('colors.white.default'),
        500: theme('colors.white.default')
    ),
    "black": (
        default: theme('colors.black.default'),
        light: theme('colors.black.light')
    ),
    "grey": (
        default: theme('colors.grey.default'),
    )
);

// Links

$link-color: map-get($primary, 500) !default;
$link-hover-color: map-get($primary, 700) !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

// fonts
$default-font-weight: 400 !default;
$default-font-style: normal !default;

$default-font: (
    family: 'Source Sans Pro',
    weight: $default-font-weight,
    style: normal
);

$title-font: (
    family: 'Georgia',
    weight: $default-font-weight,
    style: italic,
    size: 56px
);


// Navmenu
$skew-degrees: -15deg;

$menu-font: (
    family: 'Poppins',
    weight: 700,
    style: $default-font-style,
    size: 20px,
    transform: uppercase
);

$submenu-font: map-merge(
    $menu-font,
    (
        weight: $default-font-weight,
    )
);