{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "env": {
        "amd": true,
        "jquery": true,
        "commonjs": true,
        "browser": true
    },
}