{% set _logo = Image(theme.theme_mod('custom_logo')) %}
<header class="header">
    <div class="container mx-auto">
        <figure class="logo-wrapper">
            <a href="{{ site.link }}">
                <img src="{{ _logo.src }}" alt="{{ _logo.alt }}" class="custom-logo" />
            </a>
            <figcaption>
                <span class="site-description subtitle">
                    {{ fn('get_bloginfo', 'description', 'display') }}
                </span>
            </figcaption>
        </figure>

        <aside class="m-auto mr-0 relative flex">
            <button data-action="nav-handler" data-event="click" data-target=".navMenu">
                <i class="hb menu"></i>
            </button>

            <nav class="navMenu">
                <button class="ml-auto block" data-action="nav-handler" data-event="click" data-target=".navMenu">
                    <i class="hb close"></i>
                </button>
                {% include 'layouts/helpers/navigation.twig' %}
            </nav>
        </aside>
    </div>
</header>
