// file: header.cscss

// This holds all the data for the header.

.header {
    display: flex;

    @media screen and (max-width: 414px) {
        padding: 0 1rem;
    }

    .home & {
        & .logo-wrapper {
            &.floater {
                display:none;
            }

            @include transition;
        }
    }

    min-height: 60px;

    & .container {
        display: flex;
        padding: 0.8rem 0;
    }

    & .subtitle {
        font-family: map-get($title-font, 'family');
        font-style: map-get($title-font, 'style');
    }

    & .logo-wrapper {
        display: flex;

        & .custom-logo {
            max-width: 200px;
        }

        & a {
            display: flex;
            align-items: center;
        }

        & figcaption {
            display: flex;
            align-items: center;
            border-left: 1px solid map-deep-get($colors, 'grey', 'default');
            margin-left: 2rem;
            padding-left: 2rem;

            @media screen and (max-width: 414px) {
                display: none;
            }
        }
    }

    position: sticky;
    width: 100%;;
    top: 0;
    z-index: 40;
    background: map-deep-get($colors, 'white', 'default');

    @media screen and (min-width: 414px) {
        .admin-bar & {
            top: 32px;
        }
    }

    @include shadow;

}
