<section>
    <hb-separator space-top space-bottom></hb-separator>
        <p class="text-center">
            <strong>Disclaimer:</strong> Deze informatie over het project Haarlem Buiten is bedoeld om
            geïnteresseerden in het project een globaal inzicht en een voorlopige indruk
            te geven hoe het project en de omgeving er uit komen te zien zonder dat dit verbindend is
            of tot verbindende verwachtingen kan leiden en zonder dat daaraan rechten kunnen worden ontleend.
        </p>
    <hb-separator space-top space-bottom></hb-separator>
</section>

