@import url('https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro&display=swap');

.hb {
  display: block;
  background-size: cover;
  &.menu {
    height: 1.5rem;
    width: 1.5rem;
    background-image: $menu;
  }

  &.close, &.cross {
    height: 1rem;
    width: 1rem;
    background-image: $cross;
  }

  &.chevron {
    height: 1rem;
    background-image: $chevron;
  }
}
