html p {
    font-family: map-get($default-font, 'family');
    font-weight: map-get($default-font, 'weight');
    font-style: map-get($default-font, 'style');
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: map-get($title-font, 'family');
        font-weight: map-get($title-font, 'weight');
        font-style: map-get($title-font, 'style');
    }
}

h1,
h2 {
    font-size: map-get($title-font, 'size');
}

a, 
p a,
.elementor a{
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    @include transition;
}