html p,
html ul,
.nf-form-layout {
    font-family: map-get($default-font, 'family');
    font-weight: map-get($default-font, 'weight');
    font-style: map-get($default-font, 'style');
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: map-get($title-font, 'family');
        font-weight: map-get($title-font, 'weight');
        font-style: map-get($title-font, 'style');
    }
}

h1,
h2 {
    font-size: map-get($title-font, 'size');
    .home & {
        font-size: 56px;
    }


    @media screen and (max-width: 414px) {
        font-size: 34px;
    }
}

a,
p a,
.elementor a{
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    @include transition;
}


ul {
    & li:not(.ninja-forms-field):not(.nf-previous-item):not(.nf-next-item) {
        padding-left: 1rem;
        margin-left: 1rem;
        position: relative;
        &::before {
            content: '-';
            color: map-deep-get($colors, 'primary', 700);
            position: absolute;
            left: -0.5rem;
        }
    }
}

.field-wrap {
    & ul {
        & li {
            &::before {
                content: '' !important;
            }
        }
    }
}
